#Calculator {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 10px;
  max-width: 500px;
  overflow: hidden;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
  background-color: coral;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}
